.chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    border: 2px solid #3b5998;
  }
  .header {
    background-color: #3b9877;
    color: white;
    width: 100%;
    text-align: center;
  }
  .messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 13px;
}
.message.right {
  margin-right: auto;
  background: #1a106929;
  padding: 21px 20px;
  border-radius: 157% 99% 48% 52% / 79% 52% 148% 100%;
}
.message-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 27px;
  box-sizing: border-box;
}
.message.left {
  margin-left: auto;
  padding: 23px 20px;
  background: #e1faf9;
  border-radius: 148% 124% 40% 100% / 73% 34% 100% 30%;
}
 
  .user {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  
  .new-message-form {
    display: flex;
    width: 100%;
    padding: 10px;
  }
  
  .new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
  }
  
  .send-button {
    border: none;
    outline: none;
    background: #3b5998;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }


  /* Chat.css */
.chat-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.message-box {
  max-height: 90vh;
  overflow-y: scroll;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.received {
  background-color: #fff;
}

.user {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-text {
  margin: 0;
}

.new-message-form {
  display: flex;
  margin-top: 20px;
}

.new-message-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #0056b3;
}
